@use '../../style' as s;

.page {
  max-width: 720px;
  width: 100%;
  padding: s.space(6);

  display: flex;
  flex-direction: column;
  gap: s.space(6);

  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.1);
}

.title {
  color: #212529;
  font-size: 24px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: s.space(3);
  height: 38px;

  &__input {
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    background: #fff;
    color: #212529;
    font-size: 14px;

    &::placeholder {
      color: #909294;
    }
  }

  &__button {
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;

    width: 100%;
    max-width: 100px;
    border-radius: 4px;
    border: 1px solid #0d6efd;
    background: #0d6efd;

    transition: opacity 0.5s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.task__list {
  display: grid;

  & .task {
    display: grid;
    grid-template-columns: 20px 1fr 28px 28px;
    gap: 8px;
    padding: 14px 0;

    border-bottom: 1px solid #d3dee9;
    color: #212529;

    &--done .task__text,
    &--done .task__number {
      opacity: 0.5;
      text-decoration-line: line-through;
    }

    &__number {
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #212529;
    }
    &__text {
      font-size: 16px;
      line-height: 150%;
      color: #212529;
      transition: opacity 0.7s;
      overflow: hidden;
    }
    &__button {
      display: flex;
      padding: 8px;
      align-items: center;
      justify-items: center;
      gap: 10px;
      border-radius: 70px;
      border: 1px solid #909294;
      background: #fff;
      width: 28px;
      height: 28px;
      transition: opacity 0.5s;

      &:hover {
        opacity: 0.5;
      }

      &--do {
        background-image: url('/svg/do.svg');
        background-repeat: no-repeat;
        background-position: center center;
      }

      &--cancel {
        background-image: url('/svg/cancel.svg');
        background-repeat: no-repeat;
        background-position: center center;
      }

      &--done {
        background-image: url('/svg/done.svg');
        background-repeat: no-repeat;
        background-position: center center;

        border: 1px solid #008000;
      }
    }
  }

  & .task:last-child {
    border-bottom: none;
  }
}
